header {
    background: url(img/waveheader.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

@media screen and (max-width: 670px) {
    header{
        min-height: 500px;
    }
}

.box {
    border-radius: 10px;
    background: lightgrey;
    margin-top: 150px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}